body {
    background: url(unnamed.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.img_avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
input[type="text"] {
    text-align: center;
    /* box-shadow: 5px 10px 18px #888888; */
    width: 50%;
    border-radius: 15px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
}
