* {
    font-family: Arial, Helvetica, sans-serif;
}

#footer {
    border-radius: 40px 40px 0px 0px;
}
article {
    font-size: 11px;
}
#top {
    box-shadow: 5px 5px 5px black;
}
.footer {
    position: fixed;
    height: 10%;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(39, 39, 39);
    color: white;
    text-align: center;
 }
 option {
     text-align: center;
     padding-left: 10px;
 }




